.nav-container {
  height: 8vh;
  width: 100vw;
  position: fixed;
  background-color: var(--light-gray);
  top: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-title {
  text-decoration: none;
  color: var(--accent-color);
  font-family: var(--title-font);
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: auto;
  z-index: 20;
  background-color: transparent;
}

.nav-bars-icon {
  fill: var(--accent-color);
  font-size: 1.5rem;
  position: fixed;
  left: 10px;
  cursor: pointer;
}

.nav-sidenav-icon-container {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

.nav-close-icon {
  fill: var(--accent-color);
  background: transparent;
  font-size: 2.3rem;
  margin-left: 10px;
  cursor: pointer;
}

.nav-sidebar {
  font-family: var(--msg-font);
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-18vw);
  transition: 500ms ease;
  background-color: var(--light-gray);
  align-items: center;
  gap: 15px;
}

.nav-sidebar.active {
  /* transition: 500ms ease; */
  transform: translateX(0px);
}

.nav-profile-option {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--accent-color);
  cursor: pointer;
  /* transition: 150ms ease; */
}

.nav-profile-option:hover {
  background-color: var(--lighter-gray);
  transition: 150ms ease;
}

.nav-sidebar-icon {
  fill: var(--accent-color);
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-settings {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.4rem;
  background-color: var(--lighter-gray);
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}

.nav-settings:hover {
    background-color: var(--settings-hover);
    cursor: pointer;
}

.nav-settings:hover .nav-settings-icon {
    animation-name: rotate;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.nav-settings-icon {
  stroke: var(--accent-color);
  /* margin-left: 10px; */
  font-size: 1.75rem;
  position: fixed;
  left: 25px;
}

#nav-message-title {
  color: var(--light-text-color);
  font-size: 1.5vw;
  padding-left: 10px;
}

#nav-username {
  color: var(--light-text-color);
  font-size: 1.5vw;
  padding-left: 10px;
}

#nav-img {
  vertical-align: middle;
  width: 4vw;
  height: 4vw;
  border-radius: 100%;
}

.nav-newMessage-icon {
  fill: var(--accent-color);
  background: transparent;
  font-size: 2.4rem;
  margin-top: 6.5px;
  margin-right: 20px;
  padding: 5px;
  cursor: pointer;
}

.nav-newMessage-icon:hover {
  /* fill: var(--light-text-color); */
  background-color: var(--accent-color);
  fill: var(--light-gray);
  border-radius: 10px;
}

#new-message-input {
  color: var(--light-text-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  font-family: var(--msg-font);
  margin-right: 15px;
  resize: none;
  visibility: hidden;
  width: 0;
  
  transition-duration: 1s;
  transition-timing-function: ease;

}

/* #new-message-button {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 5px;
  margin-right: 15px;
} */

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}