.wait-to-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
  width: 100vw;
  height: 100vh;
  padding-left: 8vw;
}

.wait-to-message-text {
  color: var(--accent-color);
  font-family: var(--msg-font);
}

#wait-to-message-input {
  font-family: var(--msg-font);
  font-size: 1.3rem;
  border-radius: 12px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  resize: none;
  padding: 10px;
}