:root {
    /* --main-background: #2C3639; */
    --main-background: #312A24;
    --text-color: #DCD7C9;
    --accent-color: #A27B5C;
    --msg-font: 'Nunito';
}

* {
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: var(--text-color);
    /* outline: solid red 1px; */
}

body {
    background-color: var(--main-background);
}