.chatbox {
    width: 100%;
    height: auto;
    padding-top: 2vh;
    padding-bottom: 5vh;

    position: fixed;
    z-index: 2;
    bottom: 0;
    /* background-color: var(--deep-orange); */
    /* background-color: inherit; */
    /* background-color: transparent; */
    /* backdrop-filter: blur(1.5rem); */
    /* outline: 1px solid red; */
}

.chatbox div {
    width: 75%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

#message-board {
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column-reverse;
    align-items: flex-start;
    /* padding-bottom: 150px; */
    width: 85%;
    /* margin-top: 58%; */
}
 
.messages {
    /* align-self: flex-start; */
    margin: 10px 0px 0px 0px;
    padding: 5px 7px;
    border-radius: 10px;
    /* background-color: steelblue; */
    max-width: 30vw;
    word-wrap: break-word;
    font-family: var(--msg-font);
    font-size: 1.6rem;
}
 
#sent {
    align-self: flex-end;
    background-color: var(--accent-color);
}
 
#received {
    align-self: flex-start;
    background-color: var(--receive-color);
    color: #f6f6f6
}

#input-box {
    /* min-height: 30px; */
    /* max-height: 250px; */
    height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    
    width: 85%;
    margin-left: 4vw;
    margin-right: 0;
    border: 2px solid var(--accent-color);
    border-radius: 30px;
    padding: 20px 15px 15px 20px;
    font-size: 20px;
    background-color: var(--main-background);
    font-family: var(--msg-font);
    color: #f6f6f6;
    resize: none;
}

.input-submit-icon {
    font-size: 1.5rem;
    transition: 200ms ease;
    background: none;
    margin-left: -5px;
}

#input-submit {
    width: 60px;
    height: 60px;
    background-color: var(--accent-color);
    /* background-color: #C07715; */
    border: none;
    border-radius: 100%;
    margin-left: 5px;
    /* font-size: 20px; */
    transition: 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-submit:hover {
    /* background-color: #E78B10; */
    background-color: transparent;
    transition: 200ms ease;
    border: 2px solid var(--accent-color);
}

#input-submit:hover > .input-submit-icon {
    font-size: 1.8rem;
    transition: 200ms ease;
    fill: var(--accent-color);
}

#input-box:focus {
    outline: 0;
}