#main-body {
    width: 75vw;
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-left: 6vw;
    font-size: 2vw;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey; 
    border-radius: 10px;
}