#main-body {
    width: 85vw;
    position: absolute;
    /* height: 78vh; */
    height: 90vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 2vw;
    margin-left: 7.5vw;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey; 
    border-radius: 10px;
}